* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202024;
    font-family: 'Ubuntu Mono', monospace;
    color: #e4e4e7;
    height: 100vh;
}

header {
    background: #121214;
}

.menu {
    background-color: #202024;
    padding: 1rem;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.nav-link {
    color: #8257E6;
    font-size: 1.5rem;
    text-decoration: none;
    transition: .4s;
}

.nav-link:hover {
    color: #e4e4e7;
    cursor: pointer;
    font-weight: bold;
}

.content {
    border-radius: 1rem;
    margin: .5rem;
    background: #121214;
    height: 100vh;
}

.site-title {
    padding: 2rem;
    margin: 0 2rem;
    text-align: center;
    transition: .4s;
}

.site-title:hover {
    transform: scale(1.05);
}

.site-subtitle {
    padding: 0 2rem;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}
